<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>
<% if user_signed_in? %>

You are logged in as <%=current_user.first_name%><br>
<%= link_to "Sign out",destroy_user_session_path, method: :delete, class: "button" %>

<% else %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<% end %>

<br><br>
<%= link_to "All Groups", groups_path%>
